Source: clamguard
Section: utils
Priority: optional
Maintainer: D3M-Sudo <d3m-sudo@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               meson (>= 1.0),
               python3 (>= 3.11),
               python3-gi,
               gir1.2-gtk-4.0 (>= 4.10),
               gir1.2-adw-1 (>= 1.4),
               libadwaita-1-dev (>= 1.4),
               gettext
Standards-Version: 4.6.2
Homepage: https://github.com/D3M-Sudo/ClamGuard

Package: clamguard
Architecture: all
Depends: ${misc:Depends},
         python3 (>= 3.11),
         python3-gi,
         gir1.2-gtk-4.0 (>= 4.10),
         gir1.2-adw-1 (>= 1.4),
         clamav | clamav-daemon,
         clamav-freshclam,
         python3-cryptography,
         python3-requests,
         gir1.2-dbusmenu-glib-0.4,
         libdbusmenu-glib4,
         policykit-1,
         libsecret-1-0,
         gir1.2-secret-1
Recommends: nautilus | nemo | thunar | dolphin,
            python3-nautilus
Description: Modern ClamAV security suite for Linux
 ClamGuard is a modern GTK4/libadwaita desktop security application
 integrating ClamAV, VirusTotal API v3, third-party signature
 databases, quarantine management, and system tray monitoring.