[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=clamguardScan;
X-KDE-Priority=TopLevel

[Desktop Action clamguardScan]
Name=Scan with ClamGuard
Icon=security-high
Exec=clamguard --scan %U
